/* Mobile Portrait */
@media only screen and (max-width: 600px) and (orientation: portrait) {
}
/* EndOf MobilePortrait */

/* Mobile Landscape */
@media only screen and (max-width: 800px) and (orientation: landscape) {
}

/* Media Query para formato móvil */
@media (max-width: 767px) {
  .navbar {
    display: flex; /* Asegura que los elementos estén en línea */
    align-items: center; /* Centra verticalmente */
    justify-content: space-between; /* Espaciado entre logo, menú y búsqueda */
    width: 100%;
  }

  .menu-icon {
    margin: 5px; /* Elimina márgenes extra */
  }

  .search-icon {
    margin: 5px; /* Elimina márgenes extra */
    margin-left: auto; /* Empuja el ícono de búsqueda hacia la derecha */
  }

  .logo-svg {
    width: 130px; /* Aumenta el tamaño del logo para que tenga la misma altura que los íconos */
    height: auto;
  }

  .nav-buttons {
    display: none;
  }

  .desktop-nav-buttons {
    display: none;
  }

  .contenedor-grid {
    display: flex;
    flex-direction: column; /* Apilar elementos verticalmente */
    gap: 20px;
    padding: 0 20px;
  }

  .contenedor-grid-2 {
    display: flex;
    flex-direction: column; /* Apilar elementos verticalmente */
    gap: 20px;
    padding: 0 20px;
  }

  .imagenes {
    display: flex;
    flex-direction: row; /* Alinear las imágenes en una fila */
    gap: 20px; /* Espacio entre las imágenes */
  }

  .imagenes-2 {
    display: flex;
  }

  /* Asegurar que las imágenes antiguas ocupen el 48% del contenedor */
  .imagen-antiguo-1,
  .imagen-antiguo-2 {
    max-width: 48%;
    height: auto;
    border-radius: 20px;
  }

  .imagen-antiguo-3 {
    max-width: 100%; /* Ocupa el 100% en la segunda fila */
    height: auto;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto; /* Centra la imagen */
  }

  /* Estilos del texto-2 */
  .texto-2 {
    font-family: "PoppinsRegular", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    text-align: left; /* Centrado de texto */
    width: 100%; /* Ocupa el 100% del ancho */
    order: -1; /* Coloca el texto entre las imágenes */
  }

  /* Asegurarse de que el contenedor de imágenes 2 también se apile verticalmente */
  .imagenes-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .texto {
    font-family: "PoppinsRegular", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    text-align: right;
    padding: 0 20px;
    width: 100%;
    order: -1; /* Mover texto antes de las imágenes */
  }
}

/* Media Query para Desktop */
@media (min-width: 768px) {
  .menu-icon {
    display: none; /* Ocultar ícono de menú en desktop */
  }

  .nav-buttons {
    display: flex; /* Mostrar botones en desktop */
  }

  .search-icon {
    margin-left: auto; /* Empujar el ícono de búsqueda a la derecha */
    margin-right: 10px; /* Espaciado para consistencia */
  }

  /* Ajustar el tamaño del ícono de búsqueda */
  .search-icon .icon-button .material-icons {
    font-size: 30px; /* Tamaño del ícono de búsqueda */
  }

  /* Ajustar el tamaño del contenedor del ícono */
  .search-icon .icon-button {
    width: 45px; /* Ancho reducido */
    height: 40px; /* Altura reducida */
  }

  .mobile-nav-buttons {
    display: none;
  }

  .desktop-nav-buttons {
    display: flex;
  }
}
