:root {
  /* Custom color palette */
  --background: #004d43; /* #323B42 */
  --foreground: rgb(96, 96, 63); /* #FCFBF9 */

  --card: #004d43; /* #D9C7BE */
  --card-foreground: #ebfff6; /* #323B42 */

  --popover: #ebfff6; /* #D9C7BE */
  --popover-foreground: #004d43; /* #323B42 */

  --primary: #43172e; /* #635B58 */
  --primary-foreground: #b8cffb; /* #FCFBF9 */

  --secondary: #b8cffb; /* #A59B95 */
  --secondary-foreground: #43172e; /* #323B42 */

  --muted: #43172e; /* #8C817B */
  --muted-foreground: #d2ffa0; /* #FCFBF9 */

  --accent: #d2ffa0; /* #B5A79F */
  --accent-foreground: #43172e; /* #635B58 */

  --destructive: #004d43; /* #3B3634 */
  --destructive-foreground: hsla(50, 25%, 98%, 1); /* #FCFBF9 */

  --border: #004d43; /* #A59B95 */
  --input: hsla(28, 12%, 68%, 1); /* #B5A79F */
  --ring: rgb(15, 52, 20); /* #323B42 */

  /* Combinations */
  .card {
    background-color: var(--card);
    color: var(--card-foreground);
  }

  .popover {
    background-color: var(--popover);
    color: var(--popover-foreground);
  }

  .primary {
    background-color: var(--primary);
    color: var(--primary-foreground);
  }

  .secondary {
    background-color: var(--secondary);
    color: var(--secondary-foreground);
  }

  .muted {
    background-color: var(--muted);
    color: var(--muted-foreground);
  }

  .accent {
    background-color: var(--accent);
    color: var(--accent-foreground);
  }

  .destructive {
    background-color: var(--destructive);
    color: var(--destructive-foreground);
  }
}
