@font-face {
  font-family: "Roboto";
  src: url(../assets/font/Roboto-Regular.ttf);
}
@font-face {
  font-family: "RobotoBold";
  src: url(../assets/font/Roboto-Bold.ttf);
}
@font-face {
  font-family: "RobotoItalic";
  src: url(../assets/font/Roboto-Italic.ttf);
}
h1 {
  font-family: "RobotoBold";
}
p {
  font-family: "Roboto";
}
span {
  font-family: "Roboto";
}
a {
  font-family: "RobotoItalic";
}
li {
  font-family: "RobotoBold";
}

@font-face {
  font-family: "Triplett CG Light";
  src: url(../assets/font/Triplett\ CG\ Light\ Regular.otf);
}

@font-face {
  font-family: "PoppinsRegular";
  src: url(../assets/font/Poppins-Regular.ttf);
}

/* Estilo general para el título */
.titulo {
  font-family: "PoppinsRegular";
  font-weight: 400;
  font-size: 3rem;
  text-align: left;
  line-height: 1.5;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  color: #43172e;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

/* Media Query para ajustar el tamaño del título en dispositivos móviles */
@media (max-width: 767px) {
  .titulo {
    font-size: 2rem; /* Reducción del tamaño del texto */
  }
}
