.contenedor {
    text-align: center;
}
.imagenes {
    width: 1300px;
    height: auto;
    border-radius: 40px;
    margin-top: 40px; 
    margin-bottom: 40px; 
    margin-left: 10px; 
    margin-right: 10px; 
   
}
@font-face {
    font-family: "Roboto";
    src: url(font/Roboto-Regular.ttf);
}
@font-face {
    font-family: "RobotoBold";
    src: url(font/Roboto-Bold.ttf);
}
@font-face {
    font-family: "RobotoItalic";
    src: url(font/Roboto-Italic.ttf);
}
h1 {
font-family: "RobotoBold";
}
p {
    font-family: "Roboto";
    }
span {
    font-family: "Roboto";
    }
a {
    font-family: "RobotoItalic";
    }
li {
    font-family: "RobotoBold";
    }

body {
        margin-left: 10%; /* Márgenes del 10% a la izquierda */
        margin-right: 10%; /* Márgenes del 10% a la derecha */
        max-width: 1200px; /* Establecer un ancho máximo para el contenido */
        margin: 0 auto; /* Centra el contenido */
        padding: 20px; /* Espacio interior opcional */
    }