.imagenes {
    width: 1500px;
    height: auto;
    border-radius: 40px;
    margin-top: 20px; 
    margin-bottom: 20px; 
    margin-left: 10px; 
    margin-right: 10px; 
   
}
@font-face {
    font-family: "Roboto";
    src: url(font/Roboto-Regular.ttf);
}
@font-face {
    font-family: "RobotoBold";
    src: url(font/Roboto-Bold.ttf);
}
@font-face {
    font-family: "RobotoItalic";
    src: url(font/Roboto-Italic.ttf);
}
h1 {
font-family: "RobotoBold";
}
p {
    font-family: "Roboto";
    }
span {
    font-family: "Roboto";
    }
a {
    font-family: "RobotoItalic";
    }
li {
    font-family: "RobotoBold";
    }