.contenedor1 {
    text-align: center;
}
.contenedor2 {
    text-align: center;
}
.contenedor3 {
    text-align: center;
}
.contenedor4 {
    text-align: center;
}
.imagenes {
    width: 1300px;
    height: auto;
    border-radius: 40px;
    margin-top: 40px; 
    margin-bottom: 40px; 
    margin-left: 10px; 
    margin-right: 10px; 
   
}
@font-face {
    font-family: "Roboto";
    src: url(font/Roboto-Regular.ttf);
}
@font-face {
    font-family: "RobotoBold";
    src: url(font/Roboto-Bold.ttf);
}
@font-face {
    font-family: "RobotoItalic";
    src: url(font/Roboto-Italic.ttf);
}
h1 {
font-family: "RobotoBold";
}
p {
    font-family: "Roboto";
    }
span {
    font-family: "Roboto";
    }
a {
    font-family: "RobotoItalic";
    }
li {
    font-family: "RobotoBold";
    }

body {
        margin-left: 10%; 
        margin-right: 10%; 
        max-width: 1300px; 
        margin: 0 auto; 
        padding: 20px; 
    }
    
li {
    list-style: disc; /* Esto asegurará que haya un puntito antes del texto */
    margin-left: 20px; /* Ajusta el margen según sea necesario */
}

h2 {
    display: inline; /* Esto permite que el h2 se muestre en línea con el resto del texto */
    margin: 0; /* Elimina el margen por defecto */
    padding-right: 10px; /* Espacio entre el h2 y el enlace */
}   

.imagenes {
    max-width: 100%;
    width: 100%; 
    height: auto; 
    display: block;
}